button{
  background-color: #FFDCA9;
  border:none;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 8rem;
}
button:hover {
  background-color: #e69500;
}
.post-button {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}

.post-button .active-button {
  background-color: #f97316;  /* cam dịu */
  color: white;
  border-color: #f97316;
  font-weight: bold;
}
.post-footer {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  gap: 10px;
}

.button-row {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
}

.feeling-span-box {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 8px;
  animation: fadeIn 0.3s ease-in-out;
}

.feeling-span {
  font-size: 22px;
  cursor: pointer;
  padding: 4px;
  border-radius: 6px;
  transition: transform 0.2s, background-color 0.2s ease;
}

.feeling-span:hover {
  background-color: #fdeacc;
  transform: scale(1.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.input-box {
  position: relative;
  margin-top: 10px;
  width: 100%;
  animation: fadeIn 0.3s ease-in-out;
}
.input-wrapper{
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.text-textarea {
  width: 100%;
  padding: 10px 40px 10px 12px;
  border: 1px solid #d8cfc0;
  border-radius: 16px;
  font-size: 14px;
  background-color: #fdf6ec;
  resize: none;
  line-height: 1.5em;
  min-height: 60px;
  box-sizing: border-box;
}

.send-icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.send-icon:hover {
  transform: translateY(-50%) scale(1.2);
}

/*gentle*/
.sidebar-toggle-btn {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 101;
  width: 3rem !important;
}

.sidebar-toggle-btn.open {
  left: 252px; /* đúng bằng chiều rộng sidebar */
}