body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  background-color: #EDEAE6;
  color: #3c3c3c;
}
html, body {
  height: 100%;
}
li {
  background-color: #EDEAE6;
  margin: 1.5rem 0;
  list-style: disc inside;
}
li::marker {
  color: #C8E4D6; 
  font-size: 1.1rem;
}
/*link*/
.link-decor{
  text-decoration: none;
  color: #3c3c3c;
}
.link-decor:hover{
  color: #e69500;
}
.active-label .link-decor {
  color: #f97316; 
  font-weight: bold;
  position: relative;
}

/*scroll*/
::-webkit-scrollbar-thumb {
  background-color: #c6c6c6;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f9f9f9;
}

/*layout.jsx*/
.timeline-main {
  flex: 1;
  padding: 1rem;
  background-color: #FDF9F6;
}
.layout {
  display: flex;

}
.content-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}
/*header.jsx*/
.header {
  height: 3rem;
  border-bottom: 1px solid #C8E4D6;
  background-color: #F5EEE6;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.subtitle {
  font-weight: normal;
  font-size: 0.9rem;
}
.avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border:1px solid #84D58C;
  margin-right: 0.5rem;
}
.avatarH{
  width: 40px;
  border-radius: 50%;
  border:1px solid #84D58C;
  margin-right: 0.5rem;
}

.sidebar {
  position: sticky;
  top: 0;
  height: fit-content;
  align-self: flex-start;
  width: 220px;
  background-color: #F5EEE6;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #C8E4D6;
}


.logo-wrapper {
  text-align: center;
}

.logo {
  width: 210px;
  height: 200px;
}

.list_li {
  padding: 10px;
}

.dot {
  margin: 0 5px;
  width: 10px;
  height: 10px;
  background-color: #cdeade;
  border-radius: 50%;
  display: inline-block; /* giúp <span> có kích thước */
}

.label_dot {
  background-color: #efede9; /* nền trắng ngà */
  padding: 4px 10px;
  border-radius: 4px;
  color: #4e4747; /* màu chữ gần giống ảnh */
  font-weight: 500;
}
/*invisibleleter*/
.letter_card{  
  background-color: #A6B7D4; /*#fdfaf5*/
  border-radius: 4px;
}
.letter_card h3{
   position: relative;
  background-color: #F5EEE6;
  border-radius: 4px;
  padding: 10px;
}
.arrow_control{
  position: absolute;
  right: 1.5rem;
}
/*profile-status,userinfor.jsx*/
.profile{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 1.5rem;
}
.profile-status {
  margin-top: 1rem;
  text-align: center;
}
.post-header{
  display: flex;
  flex-wrap: wrap;
}
.status-green {
  color: #36F133;
  font-weight: bold;
}
.status-display{
  font-weight: bold;
}
.status-display.happy{
  color: #84D58C;
}
.status-display.sad{
  color: #A6B7D4;
}
.status-display.tired{
  color: #D3C1C1;
}
.status-display.grateful{
  color: #AACCA4;
}
.status-display.anxious{
  color: #E1B7B7;
}


